/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

body {
    font-size: 17px;
    margin: 30px;
}

h1 {
  color: #668B8B;
  font-size: 40px;
  margin: 30px 30px 30px 120px;
  text-shadow: 1px 1px 0 black, 2px 2px 0 rgba(0,0,0,.2);
}

a {
  background: wheat;
/*  border: 2px solid black;*/
  text-decoration: none;
  font-size: 20px;
  color: black;
  box-shadow: 3px 3px 3px #333333;
  padding: 5px;
}

a:hover {
color: #668B8B;
}

#wrapper {
  margin: 30px 55px;
  width: 400px;
}

nav {
  margin: 30px 90px 30px 80px;
}

img {
  margin: 30px;
  border: 3px solid black;
  max-width: 400px;
  max-height: 400px;
}

#play_nav {
  float: right;
}


