<h1>Drinking Game Dating App</h1>

<% if logged_in? %>

  <p>Hey, <%= current_user.name %>.</p>

  <img src="<%= current_user.picture_url %>">

   <br>

   <p><%= current_user.age %></p>
   <p><%= current_user.gender %></p>

   <nav>
    <a href="/">Home</a>
    <a href="/answers/new">Answer Questions</a>
    <a href="/play">Play Game</a>
    <a href="/logout">Logout</a>
  </nav>

 <% else %>

 <h1>You should log in or sign up!</h1>

 <a href="/session/new">Login</a>
 <a href="/users/new">Sign Up</a>

 <% end %>
