<div id="whole_profile">
<h1>Movie-Quiz</h1>

<% if logged_in? %>


  <p>Hey, <%= current_user.name %>.</p>

  <img src="<%= current_user.picture_url %>">

   <br>

   <p><%= current_user.age %></p>
   <p><%= current_user.gender %></p>

   <nav>
    <a href="/">Home</a>
    <a href="/answers/new">Answer Questions</a>
    <a href="/play">Play Game</a>
    <a href="/logout">Logout</a>
  </nav>

 <% else %>

 <h1>You should log in or sign up!</h1>

 <a href="/session/new">Login</a>
 <a href="/users/new">Sign Up</a>

 <% end %>
</div>

  <div id="posters">
    <div id="poster1">
      <img src="http://upload.wikimedia.org/wikipedia/commons/b/bc/The_Sheik_with_Agnes_Ayres_and_Rudolph_Valentino,_movie_poster,_1921.jpg">
    </div>
  <div id="poster2">
    <img src="http://upload.wikimedia.org/wikipedia/commons/9/93/Eraserhead_poster.jpeg">
  </div>
  <div id="poster3">
    <img src="http://upload.wikimedia.org/wikipedia/commons/7/75/Vertigomovie_restoration.jpg">
  </div>
  <div id="poster4">
    <img src="http://upload.wikimedia.org/wikipedia/commons/e/e5/Attackofthe50ftwoman.jpg">
  </div>
  <div id="poster5">
    <img src="https://c1.staticflickr.com/9/8051/8442796835_6f852b5d0e_z.jpg">
  </div>
  <div id="poster6">
    <img src="https://c1.staticflickr.com/3/2698/4090135516_5bc5d154aa_z.jpg">
  </div>

</div>
