
<body>
  <header>
    <h1>Drinking Game Dating App</h1>
  </header>

  <nav>
    <a href="users/new">Sign Up</a>

    <a href="/session/new">Login</a>
    <a href="/play">Play Game</a>
  </nav>

  <div id="wrapper">
    <p>This is a game where you can drink at home with friends and meet dates at the same time. You may never have to leave your apartment again if you can convince your date to come over and watch a movie.</p>

    <p>The object of the game is to look at someones picture and guess how they would answer a question. The point is to beat your friends for the chance to message the guy or girl in the picture. If not, oh well, at least you have to take a drink.</p>

  </div>

</body>
