
<body>
  <div id="wrapper">
  <header>
    <h1>Movie-Quiz</h1>
  </header>

  <nav>
    <a href="users/new">Sign Up</a>
     <a href="/users">Profile</a>
    <a href="/session/new">Login</a>
    <a href="/play">Play Game</a>
  </nav>


    <p>Welcome to Movie-Quiz. This is a game where you create a profile and answer questions about your favorite movies. Then when you play the game you'll see a picture of someone who has answered a question and you'll have to guess how they answered it. </p>

  </div>

  <div id="posters">
    <div id="poster1">
      <img src="http://upload.wikimedia.org/wikipedia/commons/b/bc/The_Sheik_with_Agnes_Ayres_and_Rudolph_Valentino,_movie_poster,_1921.jpg">
    </div>
  <div id="poster2">
    <img src="http://upload.wikimedia.org/wikipedia/commons/9/93/Eraserhead_poster.jpeg">
  </div>
  <div id="poster3">
    <img src="http://upload.wikimedia.org/wikipedia/commons/7/75/Vertigomovie_restoration.jpg">
  </div>
  <div id="poster4">
    <img src="http://upload.wikimedia.org/wikipedia/commons/e/e5/Attackofthe50ftwoman.jpg">
  </div>
  <div id="poster5">
    <img src="https://c1.staticflickr.com/9/8051/8442796835_6f852b5d0e_z.jpg">
  </div>
  <div id="poster6">
    <img src="https://c1.staticflickr.com/3/2698/4090135516_5bc5d154aa_z.jpg">
  </div>

</div>

</body>
