<h1>Let's Play</h1>

<!-- Puts all user info into the variable so that it stores the ids so that I can access it afterwards -->

<!-- getting the picture to display -->
<img src="<%= @correct_user.picture_url %>">

<p>We asked the person above: "<%= @correct_user.questions[0].original_question %>"<br><br>What do you think they answered?</p>

<% @shuffled.map do|answer| %>
  <% if answer.answers[0].value == true %>
  <li><button><%= link_to(answer.answers[0].saved_answer, games_path ) %></button></li>

  <% else %>
  <li><button><%= link_to(answer.answers[0].saved_answer, questions_path ) %></button></li>
  <% end %>

<% end %>




